.component {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.component > h1 {
  font-size: 35px;
  font-weight: 600;
}

.item {
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.image {
  width: 150px;
  height: 150px;
}

.info {
  margin-top: 30px;
  font-weight: 600;
  text-align: center;
}
