.component {
  background: rgba(239, 79, 79, 0.6);
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px 24px -14px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 5px 5px 24px -14px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 24px -14px rgba(0, 0, 0, 0.6);
  outline: none !important;
  z-index: 999 !important;
}

.component > div {
  display: flex;
  align-items: center;
  background: rgba(239, 79, 79, 0.8);
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.component > div > span {
  color: white;
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
}

.component > p {
  padding: 10px 10px 15px 20px;
  font-size: 15px;
}

.history {
  background: rgba(0, 103, 76, 0.5) !important;
}

.history > div {
  background: rgba(45, 129, 107, 1) !important;
}

.history > p {
  color: darkred;
  padding: 10px 10px 0px 20px;
}

.answer {
  color: white !important;
  padding: 0px 10px 15px 20px !important;
}
