.component {
  max-width: 750px;
  margin: 0 auto;
  padding: 50px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #20b99fcc;
  border-radius: 15px;
  text-align: center;
  box-shadow: -4px 3px 33px -20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -4px 3px 33px -20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -4px 3px 33px -20px rgba(0, 0, 0, 0.6);
  transition: 0.3s max-width;
}

.component > h1 {
  padding-bottom: 15px;
  border-bottom: 2px solid #f5f5f5;
  color: #fff;
  font-size: 35px;
  margin-bottom: 20px;
}
.component > h1 > span {
  color: #121013;
  font-weight: 500;
}
.component > p {
  padding: 20px 60px;
  color: #fff;
  font-size: 20px;
}

.component > span {
  font-style: italic;
}
.component > button {
  width: 300px;
  margin-top: 15px;
  border: #fff 2px solid;
  color: #fff;
}
.component > button:hover {
  background-color: #fff;
  color: #20b99f;
}

@media (max-width: 620px) {
  .component {
    max-width: 400px !important;
  }
  .component > p {
    padding: 20px 20px;
  }
}
@media (max-width: 800px) {
  .component {
    max-width: 550px;
  }
}

@media (max-width: 420px) {
  .component {
    max-width: 340px !important;
    padding: 15px !important;
    padding-top: 25px !important;
  }
}

@media (max-width: 360px) {
  .component {
    max-width: 300px !important;
    padding: 15px !important;
    padding-top: 25px !important;
  }
  .component > button {
    width: 270px;
  }
}
