.donate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(32, 185, 159, 0.8);
  margin-top: 80px;
  border-radius: 15px;
  padding: 30px;
  max-width: 750px;
  box-shadow: -4px 3px 33px -20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -4px 3px 33px -20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -4px 3px 33px -20px rgba(0, 0, 0, 0.6);
}

@media (max-width: 800px) {
  .donate {
    max-width: 550px;
  }
}

.donate__heading {
  text-align: center;
}
.donate__heading > h1 {
  color: white;
  font-size: 35px;
  padding-bottom: 15px;
  border-bottom: 2px solid whitesmoke;
}

.donate__heading > h1 > span {
  color: #121013;
  font-size: 35px;
  font-weight: 500 !important;
}

.donate__heading > p {
  color: white;
  padding: 20px 60px;
  font-size: 20px;
}

.donate__heading > span {
  font-style: italic;
}

.donate__heading > Button {
  margin-top: 15px;
  width: 300px;
  border: white 2px solid;
  color: white;
}

.donate__heading > Button:hover {
  background-color: white;
  color: rgba(32, 185, 159, 1);
}

@media (max-width: 620px) {
  .donate {
    max-width: 400px;
  }

  .donate__heading > p {
    padding: 20px 20px;
  }
}
