.component {
  padding: 100px 150px;
  background-color: #121013;
  color: #fff;
  text-align: center;
}

@media (max-width: 868px) {
  .component {
    padding: 60px;
  }
}

.component > h1 {
  font-size: 35px;
}

.component > p {
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.6;
}
