.component {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(32, 185, 159, 0.7),
    rgba(32, 185, 159, 0.4),
    rgba(155, 153, 153, 0.4)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.baseGlass {
  width: 1200px;
  max-width: 90%;
  height: 85vh;
  padding: 10px 0px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.18);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 868px) {
  .baseGlass {
    padding: 0;
  }
}
