.home__whatQueue {
  background-color: rgba(18, 16, 19, 1) !important;
  margin-top: -6px;
  padding: 100px 150px;
  text-align: center;
}

.home__whatQueue > h1 {
  color: white;
  font-size: 35px;
}

.home__whatQueue > p {
  color: white;
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.6;
}

@media (max-width: 1360px) {
  .home__whatQueue {
    margin-top: -10px;
  }
}

@media (max-width: 868px) {
  .home__whatQueue {
    padding: 60px;
  }
}
