.component {
  /* border-top: 1px solid #f5f5f5; */
  border-radius: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.stepperBG {
  background-color: rgba(0, 0, 0, 0) !important;
}

.button {
  margin: 20px auto 0px auto;
}

.blackButton {
  color: #101213 !important;
  background: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(4.5px);
  box-shadow: none;
}

.stepperContent {
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 0px 0px;
}

.donateNow {
  width: 200px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.55) !important;
}

.donateNow > span {
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: 600;
}

/* Code below should not be modified as it has been translated from material-ui */

.dots {
  color: #eaeaf0;
  display: flex;
  height: 22px;
  align-items: center;
  background-color: transparent;
  position: relative !important;
}
.active {
  color: #14322f;
}
.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
}
.completed {
  color: #14322f;
  z-index: 1;
  font-size: 18px;
}
