.component {
  margin-top: 60px;
  padding: 80px 100px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(18, 16, 19, 1) !important;
  text-align: center;
}

.quote > h4 {
  color: #fff;
  font-size: 20px;
  font-style: italic;
}

.quote > h6 {
  color: #808080;
  font-size: 15px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.chip {
  text-decoration: none !important;
  margin: 10px 15px;
}

@media (max-width: 620px) {
  .component {
    padding: 80px 60px 40px 60px !important;
  }
}
