.component {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #fff;
  -webkit-animation: slideUp 0.35s ease-out;
  animation: slideUp 0.35s ease-out;
}

.component > embed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
