.component {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #20b99f;
}

.text {
  margin-top: 30vh;
}
.text > h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.text > h1 > span {
  color: #fff;
  font-weight: 600;
}
.text > p {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}
.text > p > span {
  font-size: 12px;
}

.component > svg {
  font-size: 50px;
  position: absolute;
  bottom: 7vh;
  -webkit-animation: bounce 0.5s alternate infinite ease-out;
  animation: bounce 0.5s alternate infinite ease-out;
}

@media (max-height: 500px) {
  .component > svg {
    position: unset;
    margin-top: 10vh;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@media (max-width: 560px) {
  .text {
    padding: 0px 20px;
  }

  .text > p {
    padding: 0px 30px;
  }
}
