.component {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 3px;
  padding: 7px;
  background-color: #d2ebe6;
  border-radius: 10px;
  z-index: 999;
  -webkit-animation: zoomIn 0.3s ease-out;
  animation: zoomIn 0.3s ease-out;
}

.component > input {
  width: 150px;
  border-radius: 4px;
  border: 0.5px solid #808080;
  color: #20b99f;
  font-size: 14px;
  outline: none;
}

.component > svg {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  padding: 2px;
  border-radius: 7px;
  fill: #000;
  cursor: pointer;
}

.component > svg:hover,
.component > svg:active {
  transform: scale(1.1);
}

@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
