.component {
  width: 100%;
  padding: 10px 0px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #20b99f;
  overflow-x: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  -webkit-animation: slideIn 0.5s ease-in;
  animation: slideIn 0.5s ease-in;
}

.welcome {
  font-size: 20px !important;
  margin: auto 30px auto 0;
  padding: 5px 15px !important;
  background-color: rgba(245, 0, 87, 0.6) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
}
.welcomeIcon {
  /* margin: ; */
  font-size: 20px;
}

.right {
  display: flex;
  flex: row nowrap;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.navColor {
  transition: background-color 0.3s;
  background-color: #fff;
  box-shadow: -1px 10px 23px -5px rgba(0, 0, 0, 0.3);
}

.glassMorph {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
}

.glassMorph + .sticky {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.logo {
  width: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

.icons {
  background-color: #f5f5f5;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 3px 10px;
  display: flex;
}

.icons {
  background-color: rgba(255, 255, 255, 0.5) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.icons.glass {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
