.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  padding-left: 40px;
  background: rgba(32, 185, 159, 1);
  align-items: center;
  z-index: 999 !important;
  overflow-x: hidden;
}

.navbar.active {
  box-shadow: -1px 10px 23px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 10px 23px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 10px 23px -5px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: sticky !important;
  top: 0px;
  left: 0px;
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.navbar__logo {
  width: 100px;
  object-fit: contain;
  margin-bottom: -5px;
  position: relative;
}

.navbar__right {
  background-color: whitesmoke;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 3px 10px;
  display: flex;
}

.navbar__right--hide {
  display: none !important;
}

.navbar__user,
.navbar__host {
  background-color: whitesmoke;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 3px 10px;
  display: none;
}

.navbar__user--show,
.navbar__host--show {
  display: flex;
}
